.createContainer{
   background-color: black;
   width: 80%;
   margin: 3rem auto;
   height: auto;
   padding: 2rem;
   border-radius: 10px;
}
.tituloAdd{
   color:  white;
   font-weight: bold;
   font-size: 3rem;
}
.formContainer{
    display: flex;
  width: 50%;
  margin:2rem auto;
}


.labelAdd{
   
   width: 10%;
   font-size:1rem;
   color:white;
    font-weight: bold ;
    margin-right: 1rem;
}

.addSelect{
   width: 80%;
   text-align: center;
   padding: 0.4rem 0;
}


.buttonInput {
   appearance: button;
   background-color: #d0d0d0;
   border: solid transparent;
   border-radius: 16px;
   border-width: 0 0 4px;
   box-sizing: border-box;
   color: black;
   cursor: pointer;
   display: inline-block;
   font-family: din-round,sans-serif;
   font-size: 15px;
   font-weight: 700;
   letter-spacing: .8px;
   line-height: 20px;
   margin: 0;
   outline: none;
   overflow: visible;
   padding: 13px 16px;
   text-align: center;
   text-transform: uppercase;
   touch-action: manipulation;
   transform: translateZ(0);
   transition: filter .2s;
   user-select: none;
   -webkit-user-select: none;
   vertical-align: middle;
   white-space: nowrap;
   width: 15%;
 }
 
 .buttonInput:after {
   background-clip: padding-box;
   background-color: #f6f6f6;
   border: solid transparent;
   border-radius: 16px;
   border-width: 0 0 4px;
   bottom: -4px;
   content: "";
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   z-index: -1;
 }
 
 .buttonInput:main,
 .buttonInput:focus {
   user-select: auto;
 }
 
 .buttonInput:hover:not(:disabled) {
   filter: brightness(1.1);
   -webkit-filter: brightness(1.1);
 }
 
 .buttonInput:disabled {
   cursor: auto;
 }
 .PaisContainer{

   width: 60%;
   margin: 1rem auto;
   height: auto;
 }
 .btton{
   margin-left: 0.5rem ;
   margin-bottom: 1rem;
   font-size: 0.9rem;
   padding: 0.2rem 0.5rem;
   height: auto;
 }